/* Styles for the Shop Section */

#shop {
  --width: 480px;
  --padding: 10px;
  width: 100%;
  max-height: min-content;
  display: flex;
  visibility: visible;
  justify-content: center;
  align-items: center;
  z-index: 100;
  box-sizing: border-box;
}

#shop.hidden {
  display: none;
  visibility: hidden;
}

#shop-button {
  background-color: #007bff;
  font-weight: bold;
  box-shadow: 0 0 10px 2px #007bff;
}

#shop .content {
  width: calc(var(--width) - var(--padding) * 4);
  max-width: var(--width);
  position: relative;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.85);
  padding: var(--padding);
  border-radius: 10px;
  color: white;
  pointer-events: auto; /* Ensures the UI is interactive */

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#shop .content h1 {
  text-align: center;
  font-size: 24px;
  text-shadow: 0 0 5px #007bff;
  color: #007bff;
  margin: 0 0 var(--padding);
  flex-basis: 100%;
}

#shop .content figure {
  display: flex;
  flex-direction: column-reverse;
  transition: box-shadow 0.25s linear;
  border-radius: 10px;
  padding: 0;
  margin: var(--padding) 0 auto;
  flex-basis: 50%;
}

#shop .content figure:hover {
  box-shadow: 0 0 5px 2px #fff;
}

#shop .content figure figcaption {
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 5px #fff;
  margin-bottom: calc(var(--padding) / 2);
}

#shop .content figure img {
  display: block;
  align-self: center;
  margin-top: -20%;
  margin-bottom: -17.5%;
  flex-basis: 175px;
  max-width: 175px;
}

#shop .content figure button {
  width: calc(100% - var(--padding) * 2);
  align-self: stretch;
  margin: 0 auto var(--padding);
  display: block;
  padding: var(--padding);
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#shop .content figure button:disabled {
  display: none;
}

#shop .content figure button:disabled ~ img {
  filter: grayscale(1);
}

#shop #close-shop-button {
  position: absolute;
  top: calc(var(--padding) + 0.25em);
  right: var(--padding);
  color: #f00;
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 20px;
  text-shadow: 0 0 5px #f00;
  cursor: pointer;

  display: flex;
  align-items: center;
}

#shop #close-shop-button span {
  font-size: 14px;
  font-weight: 400;
  margin: 0 var(--padding) 3px 0;
  display: inline-block;
}
