@import url('./styles/tower-info.css');
@import url('./styles/bottom-menu.css');

body {
  margin: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

#game-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: black; /* Під сценою */
}

#ui-container {
  --top: calc(var(--tg-safe-area-inset-top));
  --right: calc(var(--tg-safe-area-inset-right) + var(--tg-safe-area-inset-left));

  --content-vertical: calc(var(--tg-content-safe-area-inset-top) + var(--tg-content-safe-area-inset-bottom));
  --content-horizontal: calc(var(--tg-content-safe-area-inset-left) + var(--tg-content-safe-area-inset-right));

  --height: calc(100vh - var(--content-vertical) - var(--top) - var(--tg-safe-area-inset-bottom));
  --width: calc(100vw - var(--right));

  position: absolute;
  top: var(--top);
  right: var(--right);
  left: 0;
  bottom: 0;

  width: var(--width);
  height: var(--height);

  margin: var(--tg-content-safe-area-inset-top) var(--tg-content-safe-area-inset-right) 0
    var(--tg-content-safe-area-inset-left);

  padding: var(--tg-safe-area-inset-bottom) var(--tg-safe-area-inset-left) 0 var(--tg-safe-area-inset-right);

  pointer-events: none; /* Щоб UI не блокував мишу для сцени */
  -webkit-user-select: none; /* Safari and Chrome (Mobile and Desktop) */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard syntax */
  -webkit-tap-highlight-color: transparent; /* Mobile Safari */
  -webkit-touch-callout: none; /* iOS Safari */
  touch-action: manipulation; /* Disables double-tap zooming */
}

.ui-button {
  padding: 10px;
  background: #444;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.2s ease;
  flex-shrink: 1;
}

.ui-button:hover {
  background: #666;
}

.counters {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  margin: 10px 10px 0 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 10px;
}

.counters > div[id$='counter'] {
  padding: 10px;
  color: white;
  border-radius: 5px;
  font-size: 0.8em;
  font-weight: bold;
  pointer-events: auto; /* To ensure it is clickable, if necessary */
}

#coin-counter {
  background: #eb0000;
}

#score-counter {
  background: #00bb00;
}

#highscore-counter {
  background: #0000eb;
}
